{% for row in rows %}
    {% for column in columns %}
        {% if column < 5 && column > 0 %}
            [{{ column }}]
        {% else %}
            [5]
        {% endif %}
    {% endfor %}
{% endfor %}
