data.boolean ==
{% if boolean == true %}
    true;
{% endif %}

{% if strValue == "test" || strValue == "TEST" %}
    data.strValue == 'test';
{% endif %}

{%if boolean && strValue=="test"%}
    compound test passed;
{%endif%}

{% if false %}
    test failed!!!
{% endif %}

This if is ignored...
